.card-div {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: left;
    font-size: 18px;
    margin: 10px;
    min-width: 200px;
    max-width: 400px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.hide {
    display: none;
}

.note-header{
    float: right;
}

.note-header button{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
}